@import 'styles';
#welcome {
    width: 100%;
    padding: 80px 0 0 0;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
        font-size: 3vw;
        z-index: 2;
        h1 {
            padding: 30px 40px;
            color: $base;
            text-shadow: 4px 4px 10px rgba(0,0,0,0.75);
        }
    }
    #images {
        position: absolute;
        width: 100vw;
        height: calc(100vh - 80px);
        margin-right: -10vw;
        .img {
            height: calc(100vh - 80px);
            width: 100vw;
            position: absolute;
            background-size: cover;
            background-repeat: no-repeat;
            transition-duration: .4s;
        }
        #l0 {
            background-image: url('../img/lander2.webp');
            background-attachment: fixed;
            background-position: 50% 0%;
            opacity: 1;
        }
        #l1 {
            background-image: url('../img/lander0.webp');
            background-position: 35% 50%;
            opacity: 0;
        }
        #l2 {
            background-image: url('../img/lander1.webp');
            background-position: 50% 50%;
            opacity: 0;
        }
    }
}
.section {
    margin: 120px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 30px;
    width: 100%;
    h2 {
        font-size: 3em;
    }
    p {
        font-size: 1em;
        line-height: 2;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}
.pictures {
    width: 90vw;
    margin: 0 -5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center center;
    }
}
#mosey {
    padding-top: 20px;
}
#galbut {
    position: absolute;
    margin: 20px 0 0 -5vw;
    font-size: 1.15em;
    border-bottom: 2px solid $accent;
    padding-bottom: 5px;
    img {
        height: 14px;
        transition-duration: .3s;
        &:hover {
            cursor: pointer !important;
        }
    }
    &:hover {
        cursor: pointer !important;
        img {
            padding-left: 10px;
        }
    }
}
#saveplate {
    width: 100%;
    margin: 120px -10vw 0 -10vw;
    padding: 120px 10vw;
    background: rgba(0,0,0,0.15);
}
#feedback {
    img {
        width: 90%;
        height: 400px;
        object-fit: cover;
    }
    .t {
        h2 {
            margin-bottom: 30px;
        }
    }
}
@media screen and (max-width: 1300px) {
    .pictures {
        margin: 0 0;
    }
    #galbut {
        margin: 20px 0 0 0;
    }
    #saveplate {
        width: 100%;
        margin: 120px -5vw 0 -5vw;
        padding: 120px 5vw;
    }
}
@media screen and (max-width: 1050px) {
    #welcome .text {
        font-size: 2em;
    }
    #cursor {
        display: none;
    }
    .section {
        display: flex;
        flex-direction: column;
        width: 100%;
        h2 {
            width: 100%;
            padding-bottom: 50px;
        }
        p {
            max-width: 100%;
        }
    }
    .pictures {
        grid-column-gap: 10px;
        width: 100%;
        margin: 0 0;
    }
    #saveplate {
        width: 100%;
        margin: 120px -50px 0 -50px;
        padding: 120px 50px;
    }
    #feedback {
        img {
            display: none;
        }
        .t {
            h2 {
                margin-bottom: 0;
            }
        }
    }
}
@media screen and (max-width: 650px) {
    .pictures {
        display: flex;
        flex-direction: column;
        img {
            width: 100%;
            margin-bottom: 16px;
        }
    }
}
@media screen and (max-width: 450px) {
    #welcome {
        flex-direction: column;
        padding: 0;
        margin: 0;
        height: 100vh;
        width: 100vw;
        .text {
            padding: 0;
            margin: 0;
            height: calc(100vh - 500px);
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            h1 {
                font-size: 1.5em;
                color: $accent;
                text-shadow: none;
                padding: 0 30px;
                margin-bottom: 30px;
            }
            h4 {
                font-size: .75em;
                color: $accent;
                text-shadow: none;
            }
        }
        #images {
            margin: 0;
            padding: 0;
            position: initial;
            height: 500px;
            .img {
                height: 500px;
                margin: 0;
                padding: 0;
            }
        }
    }
    .section {
        margin: 80px 0;
        p {
            font-size: .9em;
        }
    }
    #saveplate {
        margin: 80px -30px 0 -30px;
        padding: 80px 30px;
    }
}