@import 'styles';
#welcome {
    width: 100%;
    padding: 80px 0 0 0;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    .text {
        font-size: 3em;
        z-index: 2;
        pointer-events: none;
        h1 {
            padding: 30px 40px;
            color: $base;
            text-shadow: 4px 4px 10px rgba(0,0,0,0.75);
        }
    }
    #images {
        position: absolute;
        width: 100vw;
        height: calc(100vh - 80px);
        margin-right: -10vw;
        .img {
            height: calc(100vh - 80px);
            width: 100vw;
            position: absolute;
            background-size: cover;
            background-repeat: no-repeat;
            transition-duration: .4s;
        }
        #l0 {
            background-image: url('../img/lander2.webp');
            background-position: 50% 20%;
            opacity: 1;
        }
        #l1 {
            background-image: url('../img/lander0.webp');
            background-position: 35% 50%;
            opacity: 0;
        }
        #l2 {
            background-image: url('../img/lander1.webp');
            background-position: 50% 50%;
            opacity: 0;
        }
    }
}
.section {
    margin: 120px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 30px;
    width: 100%;
    h2 {
        font-size: 3em;
    }
    p {
        font-size: 1em;
        line-height: 2;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}
.pictures {
    width: 90vw;
    margin: 0 -5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    img {
        width: 100%;
    }
}
#mosey {
    padding-top: 20px;
}
#galbut {
    position: absolute;
    margin: 20px 0 0 -5vw;
    font-size: 1.15em;
    border-bottom: 2px solid $accent;
    padding-bottom: 5px;
    img {
        height: 14px;
        transition-duration: .3s;
        &:hover {
            cursor: pointer !important;
        }
    }
    &:hover {
        cursor: pointer !important;
        img {
            padding-left: 10px;
        }
    }
}
#saveplate {
    width: 100%;
    margin: 120px -10vw 0 -10vw;
    padding: 120px 10vw;
    background: rgba(0,0,0,0.15);
}
#feedback {
    img {
        width: 90%;
    }
    .t {
        h2 {
            margin-bottom: 30px;
        }
    }
}
#contact {
    width: 100vw;
    box-sizing: border-box;
    margin: 0 -10vw;
    background: rgba(0,0,0,0.15);
    display: flex;
    justify-content: center;
    a {
        padding: 200px 0;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 4em;
        transition-duration: .3s;
        &:hover {
            transform: scale(1.25);
        }
    }
}
@media screen and (max-width: 1300px) {
    #welcome {
        .text {
            width: 40%;
        }
        #images {
            width: 60%;
        }
    }
    .section {
        margin: 150px 0;
    }
    .pictures {
        margin: 0 0;
    }
}
@media screen and (max-width: 1050px) {
    #welcome {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: auto;
        padding: 0;
        .text {
            width: 100%;
            padding: 200px 0;
        }
        #images {
            width: 100%;
            height: 500px;
            margin-right: 100px;
            .img {
                height: 500px;
                width: 100%;
            }
        }
    }
    #cursor {
        display: none;
    }
    .section {
        margin: 150px 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        h2 {
            width: 100%;
            padding-bottom: 50px;
        }
        p {
            max-width: 100%;
        }
    }
    .pictures {
        width: calc(100vw - 100px);
        img:first-child {
            width: calc(100% - 40% - 50px);
        }
    }
}
@media screen and (max-width: 650px) {
    .pictures {
        width: calc(100vw - 100px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        img:first-child {
            width: 100%;
            margin-bottom: 40px;
        }
        img:last-child {
            width: 100%;
        }
    }
    #saveplate iframe {
        display: none;
    }
    #saveplate img {
        display: inline;
    }
}
@media screen and (max-width: 450px) {
    #welcome {
        .text {
            padding: 150px 0;
            h1 {
                font-size: 1.5em;
            }
            h4 {
                font-size: .75em;
            }
        }
        #images {
            height: 300px;
            margin-right: 60px;
            .img {
                height: 300px;
            }
        }
    }
    .section {
        margin: 150px 0;
        p {
            font-size: .9em;
        }
    }
    .pictures {
        width: calc(100vw - 60px);
    }
}