$base: #fffdfa;
$accent: #000;
$gutter-s: 7.5vw;
$gutter: 10vw;
* {
    font-family: 'usual', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: 400;
    color: $accent;
    a:hover, label:hover {
        cursor: pointer !important;
        filter: saturate(2);
    }
}
html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    overflow-x: hidden;
    background: $base;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background: $base;
    overflow-x: hidden;
}
.button {
    padding: 18px 34px;
    background: $accent;
    color: $base;
    margin-top: 40px;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    box-sizing: border-box;
    padding: 0 $gutter;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $base;
    z-index: 999;
    #logo {
        font-size: 1.35em !important;
        color: $accent;
        display: flex;
        align-items: center;
        i {
            font-style: normal;
        }
        img {
            height: 40px;
            padding-right: 20px;
        }
    }
    #links {
        width: 700px;
        display: flex;
        justify-content: space-between;
        a {
            font-size: .9em;
            color: $accent;
            box-sizing: border-box;
            padding: 7px 0 7px 0;
            transition-duration: .3s;
        }
    }
}
#pageWrap {
    width: 80vw;
    padding: 0 $gutter;
}
#cursor {
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    height: 60px;
    image-rendering: crisp-edges;
    left: 50vw;
    top: -100px;
}
iframe {
    width: 100vw;
    height: 450px;
    border: none;
}
footer {
    width: 80vw;
    padding: 50px 10vw;
    background: $base;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .info {
        p {
            line-height: 1.5;
        }
    }
    .social {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        a {
            padding-left: 30px;
        }
    }
}
#checkbox {
    position: absolute;
    top: -50px;
    left: 0;
}
.menu-icon {
    display: none;
    z-index: 11;
    img {
        height: 30px;
        padding: 20px;
        margin-right: -20px;
    }
}
@media screen and (max-width: 1300px) {
    #pageWrap {
        width: 90vw;
        padding: 0 5vw;
    }
    #header {
        padding: 0 5vw;
    }
    footer {
        width: 90vw;
        padding: 50px 5vw;
    }
}
@media screen and (max-width: 1050px) {
    * {
        a:hover, label:hover {
            cursor: pointer !important;
            filter: saturate(1);
        }
    }
    #pageWrap {
        width: calc(100vw - 100px);
        padding: 0 50px;
    }
    #header {
        padding: 0 50px;
        #logo i {
            display: none;
        }
        #links {
            position: fixed;
            height: 100vh;
            width: 100vw;
            background: $base;
            margin: 0;
            top: -100vh;
            left: 0;
            flex-direction: column;
            box-sizing: border-box;
            padding: 10px 30px;
            align-items: flex-start;
            justify-content: flex-start;
            transition-duration: .5s;
            z-index: 10;
            a {
                font-size: 2em;
                padding: 20px 0;
            }
        }
        #checkbox:checked ~ #links{
            top: 0;
        }
    }
    footer {
        width: calc(100vw - 100px);
        padding: 50px;
    }
    .menu-icon {
        display: inline;
    }
}
@media screen and (max-width: 450px) {
    #pageWrap {
        width: calc(100vw - 60px);
        padding: 0 30px;
    }
    #header {
        padding: 0 30px;
    }
    footer {
        width: calc(100vw - 60px);
        padding: 30px;
    }
}